html,body{
    background-image: linear-gradient(120deg, #f7f7f7 10%, #f5ebeb 10%, #e4d0d0 60%, #f5ebeb 10%,#f7f7f7 10%);
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

tr{
    background-color: #f7f7f7;
}

table{
    border-radius:20px;
}

.submit-btn{
    background-color: #867070;
    color:#f7f7f7;
}

h1{
    padding:30px;
    margin:10px;
}

th{
    font-weight: normal;
    background-color: #867070;
}
thead tr{
    background-color: #867070;
    color: #f7f7f7;

}